<div class="shadow border-b-4" style="border-bottom: 4px solid rgba(153, 15, 61, 1);">
  <div class="flex p-4 bg-light-orange text-gray-800 items-end">
    <h1 class="text-2xl font-bold">Possible offers per customer</h1>
    <h2 class="text-lg font-bold ml-2" style="padding-bottom: 0.2px;">according to initial prediction</h2>
  </div>
  <div class="px-4 py-2 bg-white" id="possible-offers-container">
    {% include 'tables/possible_offers/table_content.jinja' %}
  </div>
</div>
