<div class="form-field max-w-sm w-full">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select {{ field.name }}:</label>
    <input value="{{ request.query_params._dict.get('start_' + field['name'], '') }}"
        type="number" name="start_{{ field.name }}" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="123" />
    <input value="{{ request.query_params._dict.get('end_' + field['name'], '') }}"
        type="number" name="end_{{ field.name }}" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-2" placeholder="321" />
</div>