<div class="form-field exclude-loading max-w-sm w-full mac-scrollbar">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select {{ field.name }}</label>
    <select id="{{ field.name }}" name="{{ field.name }}"
        class="mac-scrollbar bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        {% if field.name == "custom_ml_model" %}
            hx-get="/column-filters-fields"
            hx-trigger="change"
            hx-target="#column-filters-fields-container"
            hx-swap="outerHTML"
            hx-push-url="false"
            <!-- hx-indicator="#column-filters-fields-container" -->
            onchange="clearUrlPath()"
        {% endif %}>
        {% for option in field.options %}
            <option value="{{ option }}" {% if request.query_params._dict.get(field['name'], '').lower() == option.lower() %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
    </select>
</div>

<script>
    function clearUrlPath() {
        history.pushState({}, document.title, window.location.pathname);
    }
    document.addEventListener("htmx:configRequest", function(event) {
        let targetElement = document.getElementById("custom_ml_model");
        //debugger;
        if (event.target === targetElement) {
            let elements = document.querySelectorAll(".form-field:not(.exclude-loading)");
            elements.forEach(function(element) {
                element.dataset.originalContent = element.innerHTML;
                element.innerHTML = "<span>Loading...</span>";
            });
        }
    });
</script>